.p-Shop.banner {
display: flex;
flex-direction: column;
height: ;
}
.p-Shop.Flex145 {
display: flex;
height: 360px;
background-color: #1e1e1e;
max-width: ;
padding-left: 16px;
padding-right: 16px;
align-items: center;
justify-content: center;
}
.p-Shop.Flex144 {
display: flex;
width: 100%;
height: 100%;
max-height: 600px;
justify-content: flex-start;
align-items: center;
padding-left: 60px;
padding-right: 60px;
max-width: 1200px;
}
.p-Shop.Flex143 {
display: flex;
width: 50%;
flex-direction: column;
max-width: ;
}
.p-Shop.shopsection {
display: flex;
justify-content: center;
align-items: center;
}
.p-Shop.Flex154 {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: stretch;
max-width: 1200px;
width: 1000px;
margin-bottom: 100px;
padding-top: 100px;
}
.p-Shop.Flex153 {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.p-Shop.Flex150 {
display: flex;
}
.p-Shop.Flex147 {
display: flex;
flex-grow: 1;
flex-direction: column;
}
.p-Shop.Flex151 {
display: flex;
}
.p-Shop.Flex148 {
display: flex;
flex-grow: 1;
flex-direction: column;
}
.p-Shop.Flex152 {
display: flex;
}
.p-Shop.Flex149 {
display: flex;
flex-grow: 1;
flex-direction: column;
}
.p-Shop.Flex163 {
display: flex;
}
.p-Shop.Flex162 {
display: flex;
flex-grow: 1;
flex-direction: column;
}
.p-Shop.Flex169 {
display: flex;
}
.p-Shop.Flex168 {
display: flex;
flex-grow: 1;
flex-direction: column;
}
.p-Shop.Flex171 {
display: flex;
}
.p-Shop.Flex170 {
display: flex;
flex-grow: 1;
flex-direction: column;
}
.p-Shop.navbar {
display: flex;
height: 5rem;
background-color: #ffffff;
justify-content: center;
align-items: center;
position: sticky;
top: 0;
outline-color: transparent;
z-index: 100;
}
.p-Shop.Flex348 {
display: flex;
max-height: ;
min-height: ;
height: ;
background-color: #ffffff;
border-radius: 1px;
border-color: #a43d3d;
width: 100%;
max-width: 1200px;
padding-top: 8px;
margin-top: ;
padding-bottom: 8px;
padding-left: 16px;
padding-right: 16px;
justify-content: space-between;
position: relative;
}
.p-Shop.Flex346 {
display: flex;
height: ;
width: ;
max-width: ;
align-items: center;
justify-content: space-between;
row-gap: ;
column-gap: 2rem;
}
.p-Shop.Flex347 {
display: flex;
column-gap: 2rem;
}
.p-Shop.Flex345 {
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 40px;
column-gap: 1rem;
}
.p-Shop.headline {
display: flex;
height: 2.5rem;
background-color: #b4ff39;
justify-content: center;
align-items: center;
position: sticky;
}
.p-Shop.Footer {
display: flex;
flex-direction: column;
height: ;
width: ;
align-items: center;
justify-content: center;
max-width: ;
background-color: #1e1e1e;
overflow: hidden;
padding-left: 16px;
padding-right: 16px;
}
.p-Shop.Flex388 {
display: flex;
height: ;
background-color: #1e1e1e;
max-width: 1200px;
padding-left: 16px;
padding-right: 16px;
align-items: stretch;
justify-content: flex-start;
flex-direction: column;
width: 100%;
row-gap: 6rem;
padding-top: 60px;
margin-bottom: 60px;
}
.p-Shop.Flex386 {
display: flex;
justify-content: space-between;
align-items: flex-start;
padding-bottom: 16px;
}
.p-Shop.Flex383 {
display: flex;
column-gap: 1rem;
}
.p-Shop.Flex384 {
display: flex;
column-gap: .3rem;
align-items: center;
justify-content: flex-start;
}
.p-Shop.Flex387 {
display: flex;
flex-direction: row;
padding-top: ;
padding-bottom: ;
align-items: flex-start;
justify-content: space-between;
column-gap: 6rem;
}
.p-Shop.Flex385 {
display: flex;
width: 90%;
justify-content: space-between;
max-width: 800px;
}
.p-Shop.Flex379 {
display: flex;
width: ;
flex-direction: column;
row-gap: 1rem;
}
.p-Shop.Flex375 {
display: flex;
width: 90%;
flex-direction: column;
row-gap: .5rem;
}
.p-Shop.Flex380 {
display: flex;
width: ;
flex-direction: column;
row-gap: 1rem;
}
.p-Shop.Flex376 {
display: flex;
width: 90%;
flex-direction: column;
row-gap: .5rem;
}
.p-Shop.Flex381 {
display: flex;
width: ;
flex-direction: column;
row-gap: 1rem;
}
.p-Shop.Flex377 {
display: flex;
width: 90%;
flex-direction: column;
row-gap: .5rem;
}
.p-Shop.Flex382 {
display: flex;
width: ;
flex-direction: column;
row-gap: 1rem;
}
.p-Shop.Flex378 {
display: flex;
width: 90%;
flex-direction: column;
row-gap: .5rem;
}
.p-Shop.TextBox176 {
background-color: transparent;
color: #ffffff;
font-family: Inter;
font-size: 1.2rem;
font-weight: 400;
margin-bottom: 20px;
width: ;
max-width: 400px;
}
.p-Shop.TextBox177 {
background-color: transparent;
color: #ffffff;
font-family: Inter;
font-size: 2.75rem;
font-weight: 500;
margin-bottom: 17px;
max-width: 400px;
}
.p-Shop.TextBox178 {
background-color: transparent;
color: #ffffff;
font-family: Inconsolata;
font-size: 0.875rem;
margin-bottom: 30px;
}
.p-Shop.TextBox179 {
background-color: transparent;
color: #0f0f0f;
font-family: Inter;
font-size: 1.25rem;
font-weight: 500;
margin-bottom: 16px;
max-width: ;
width: 100%;
text-align: left;
}
.p-Shop.TextBox180 {
background-color: transparent;
color: #636363;
font-family: Inter;
font-size: .875rem;
font-weight: 600;
margin-bottom: 36px;
max-width: ;
width: 100%;
text-align: left;
}
.p-Shop.Image56 {
height: ;
outline-style: none;
width: 300px;
margin-bottom: 24px;
}
.p-Shop.TextBox181 {
background-color: transparent;
color: #0f0f0f;
font-family: Inter;
font-size: 1.25rem;
font-weight: 500;
margin-bottom: 16px;
max-width: ;
width: 100%;
text-align: left;
}
.p-Shop.TextBox182 {
background-color: transparent;
color: #636363;
font-family: Inter;
font-size: .875rem;
font-weight: 600;
margin-bottom: 36px;
max-width: ;
width: 100%;
text-align: left;
}
.p-Shop.Image57 {
height: ;
outline-style: none;
width: 300px;
margin-bottom: 24px;
}
.p-Shop.Image58 {
height: ;
outline-style: none;
width: 300px;
margin-bottom: 24px;
}
.p-Shop.TextBox183 {
background-color: transparent;
color: #636363;
font-family: Inter;
font-size: .875rem;
font-weight: 600;
margin-bottom: 36px;
max-width: ;
width: 100%;
text-align: left;
}
.p-Shop.TextBox184 {
background-color: transparent;
color: #0f0f0f;
font-family: Inter;
font-size: 1.25rem;
font-weight: 500;
margin-bottom: 16px;
max-width: ;
width: 100%;
text-align: left;
}
.p-Shop.Image62 {
height: ;
outline-style: none;
width: 300px;
margin-bottom: 24px;
}
.p-Shop.TextBox192 {
background-color: transparent;
color: #636363;
font-family: Inter;
font-size: .875rem;
font-weight: 600;
margin-bottom: 36px;
max-width: ;
width: 100%;
text-align: left;
}
.p-Shop.TextBox193 {
background-color: transparent;
color: #0f0f0f;
font-family: Inter;
font-size: 1.25rem;
font-weight: 500;
margin-bottom: 16px;
max-width: ;
width: 100%;
text-align: left;
}
.p-Shop.TextBox198 {
background-color: transparent;
color: #0f0f0f;
font-family: Inter;
font-size: 1.25rem;
font-weight: 500;
margin-bottom: 16px;
max-width: ;
width: 100%;
text-align: left;
}
.p-Shop.TextBox199 {
background-color: transparent;
color: #636363;
font-family: Inter;
font-size: .875rem;
font-weight: 600;
margin-bottom: 36px;
max-width: ;
width: 100%;
text-align: left;
}
.p-Shop.Image65 {
height: ;
outline-style: none;
width: 300px;
margin-bottom: 24px;
}
.p-Shop.TextBox200 {
background-color: transparent;
color: #0f0f0f;
font-family: Inter;
font-size: 1.25rem;
font-weight: 500;
margin-bottom: 16px;
max-width: ;
width: 100%;
text-align: left;
}
.p-Shop.TextBox201 {
background-color: transparent;
color: #636363;
font-family: Inter;
font-size: .875rem;
font-weight: 600;
margin-bottom: 36px;
max-width: ;
width: 100%;
text-align: left;
}
.p-Shop.Image66 {
height: ;
outline-style: none;
width: 300px;
margin-bottom: 24px;
}
.p-Shop.Image150 {
position: absolute;
right: 541px;
top: 3px;
cursor: pointer;
bottom: 0;
}
.p-Shop.TextBox406 {
font-family: Inter;
font-weight: 500;
font-size: 1rem;
color: #222222;
}
.p-Shop.Dropdown19 {
font-family: Inter;
font-weight: 500;
font-size: 1rem;
outline-style: hidden;
border-style: none;
}
.p-Shop.Dropdown20 {
font-family: Inter;
font-weight: 500;
font-size: 1rem;
outline-style: hidden;
border-style: none;
}
.p-Shop.TextBox407 {
font-family: Inter;
font-weight: 500;
font-size: 1rem;
color: #222222;
}
.p-Shop.Menu2 {
display: none;
}
.p-Shop.Image149 {
width: 1.2rem;
}
.p-Shop.TextBox405 {
font-family: Inconsolata;
font-size: 0.875rem;
font-weight: 500;
background-color: #141414;
color: #ffffff;
border-radius: 50px;
padding-top: 4px;
padding-bottom: 4px;
padding-right: 8px;
padding-left: 8px;
}
.p-Shop.Image148 {
width: 1.2rem;
}
.p-Shop.TextBox149 {
font-family: Inconsolata;
font-size: 0.875rem;
font-weight: 400;
text-align: center;
width: 100%;
height: ;
margin-top: 0px;
padding-top: 0px;
}
.p-Shop.Image161 {
;
}
.p-Shop.Image162 {
;
}
.p-Shop.Image163 {
;
}
.p-Shop.TextBox461 {
color: #cecece;
font-family: Inter;
font-size: 12px;
}
.p-Shop.TextBox462 {
font-family: Inter;
font-size: 12px;
font-weight: 400;
color: #909090;
}
.p-Shop.Image164 {
width: 10%;
}
.p-Shop.TextBox457 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #5f5f5f;
}
.p-Shop.TextBox440 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox441 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox442 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox458 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #5f5f5f;
}
.p-Shop.TextBox443 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox444 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox445 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox446 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox459 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #5f5f5f;
}
.p-Shop.TextBox447 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox448 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox449 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox450 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox451 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox460 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #5f5f5f;
}
.p-Shop.TextBox452 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox453 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox454 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox455 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
.p-Shop.TextBox456 {
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #b1b1b1;
}
@media screen and (max-width: 991px) {
	.p-Shop.banner.bpt {
max-height: 700px;
	}
	.p-Shop.Flex144.bpt {
justify-content: center;
	}
	.p-Shop.shopsection.bpt {
width: 100%;
	}
	.p-Shop.Flex154.bpt {
padding-left: 30px;
padding-right: 30px;
flex-wrap: wrap;
	}
	.p-Shop.Flex346.bpt {
display: none;
justify-content: center;
	}
	.p-Shop.Flex347.bpt {
align-items: center;
justify-content: center;
	}
	.p-Shop.Image150.bpt {
position: static;
	}
	.p-Shop.Menu2.bpt {
display: flex;
	}
	.p-Shop.Flex143.bpt {
width: ;
	}
	.p-Shop.Flex153.bpt {
padding-left: 0px;
width: 100%;
justify-content: space-between;
align-items: flex-start;
	}
	.p-Shop.Flex150.bpt {
width: 45%;
	}
	.p-Shop.Flex151.bpt {
width: 45%;
	}
	.p-Shop.Flex152.bpt {
width: 45%;
	}
	.p-Shop.Flex163.bpt {
width: 45%;
	}
	.p-Shop.Flex169.bpt {
width: 45%;
	}
	.p-Shop.Flex171.bpt {
width: 45%;
	}
	.p-Shop.Image56.bpt {
width: 400px;
	}
	.p-Shop.Image57.bpt {
width: 400px;
	}
	.p-Shop.Image58.bpt {
width: 400px;
	}
	.p-Shop.Image62.bpt {
width: 400px;
	}
	.p-Shop.Image65.bpt {
width: 400px;
	}
	.p-Shop.Image66.bpt {
width: 400px;
	}
}
@media screen and (max-width: 767px) {
	.p-Shop.Image56.bpt {
width: 300px;
	}
	.p-Shop.Image57.bpt {
width: 300px;
	}
	.p-Shop.Image58.bpt {
width: 300px;
	}
	.p-Shop.Image62.bpt {
width: 300px;
	}
	.p-Shop.Image65.bpt {
width: 300px;
	}
	.p-Shop.Image66.bpt {
width: 300px;
	}
}
@media screen and (max-width: 478px) {
	.p-Shop.Flex143.bpt {
align-items: center;
	}
	.p-Shop.Flex153.bpt {
flex-direction: column;
	}
	.p-Shop.Flex150.bpt {
width: 100%;
	}
	.p-Shop.Flex151.bpt {
width: 100%;
	}
	.p-Shop.Flex152.bpt {
width: 100%;
	}
	.p-Shop.Flex149.bpt {
width: 100%;
	}
	.p-Shop.Flex163.bpt {
width: 100%;
	}
	.p-Shop.Flex169.bpt {
width: 100%;
	}
	.p-Shop.Flex171.bpt {
width: 100%;
	}
	.p-Shop.Flex388.bpt {
row-gap: 3rem;
	}
	.p-Shop.Flex386.bpt {
flex-direction: column;
row-gap: 1rem;
justify-content: center;
align-items: center;
	}
	.p-Shop.Flex383.bpt {
align-items: stretch;
justify-content: center;
flex-direction: row;
row-gap: 1rem;
	}
	.p-Shop.Flex387.bpt {
flex-direction: column;
align-items: center;
column-gap: ;
	}
	.p-Shop.Flex385.bpt {
flex-direction: column;
justify-content: center;
	}
	.p-Shop.Flex379.bpt {
text-align: center;
margin-bottom: 6px;
	}
	.p-Shop.Flex375.bpt {
align-items: center;
	}
	.p-Shop.Flex380.bpt {
text-align: center;
margin-bottom: 36px;
	}
	.p-Shop.Flex381.bpt {
text-align: center;
margin-bottom: 36px;
	}
	.p-Shop.Flex377.bpt {
align-items: center;
	}
	.p-Shop.Flex382.bpt {
justify-content: center;
margin-bottom: 36px;
	}
	.p-Shop.Flex378.bpt {
text-align: center;
justify-content: center;
	}
	.p-Shop.TextBox176.bpt {
text-align: center;
font-size: 1rem;
line-height: 36px;
	}
	.p-Shop.Image56.bpt {
width: 100%;
	}
	.p-Shop.Image57.bpt {
width: 100%;
	}
	.p-Shop.Image58.bpt {
width: 100%;
	}
	.p-Shop.Image62.bpt {
width: 100%;
	}
	.p-Shop.Image65.bpt {
width: 100%;
	}
	.p-Shop.Image66.bpt {
width: 100%;
	}
	.p-Shop.Image161.bpt {
height: 24px;
	}
	.p-Shop.Image162.bpt {
height: 24px;
	}
	.p-Shop.Image163.bpt {
height: 24px;
	}
	.p-Shop.Image164.bpt {
width: ;
margin-bottom: 36px;
	}
	.p-Shop.TextBox459.bpt {
text-align: center;
	}
	.p-Shop.TextBox460.bpt {
text-align: center;
	}
	.p-Shop.TextBox455.bpt {
text-align: center;
	}
}